{% extends "main.html" %}
{% block content %}
    <h2>Модель расчета нагрузки</h2>


    <div class="row text-center mb-5">
        <div class="col-sm">
            <a class="btn btn-secondary btn-lg" href="#" type="submit">Настройки</a>
        </div>
    </div>

    <div class="row text-center">
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Нагрука по дисциплинам</h5>
                <h6 class="card-subtitle mb-2 text-muted">Распределение нагрузки по методическим единицам</h6>

                {% if courses %}
                    <p class="card-text">Всего дисциплин: {{ num_courses }}</p>
                    <p class="card-text">Суммарная нагрузка по дисциплинам: {{ hours_courses }}</p>
                    <a class="btn btn-primary" href="/models/{{ name }}/edit/courses">Редактировать</a>
                {% else %}
                    <p class="card-text">В модели отсутствует информация о нагрузке по дисциплинам. Пожалуйста,
                        загрузите ее
                        для дальнейшего расчета.</p>
                    <a class="card-link" href="/models/{{ name }}/edit/courses">Загрузить</a>
                {% endif %}
            </div>
        </div>

        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Нагрузка преподавателей</h5>
                <h6 class="card-subtitle mb-2 text-muted">Список преподавателей и их общая нагрузка в часах</h6>

                {% if stuff_hours %}
                    <p class="card-text">Всего преподавателей: {{ num_stuff }}</p>
                    <p class="card-text">Суммарная нагрузка преподавателей: {{ hours_stuff }}</p>
                    <a class="btn btn-primary" href="/models/{{ name }}/edit/stuff">Редактировать</a>
                {% else %}
                    <p class="card-text">В модели отсутствует информация о нагрузке по преподавателям.
                        Пожалуйста, загрузите ее для дальнейшего расчета.</p>
                    <a class="card-link" href="/models/{{ name }}/edit/stuff">Загрузить</a>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="card" style="width: 33%;">
            <div class="card-body">
                <h5 class="card-title">Компетенции преподавателей</h5>
                <h6 class="card-subtitle mb-2 text-muted">Соответствие преподавателей компетенциям</h6>

                {% if stuff_tags %}
                    <a class="btn btn-primary" href="/models/{{ name }}/edit/stuff_tags">Редактировать</a>
                {% else %}
                    <p class="card-text">В модели отсутствует информация о компетенциях преподавателей.
                        Пожалуйста, загрузите ее для дальнейшего расчета.</p>
                    {% if stuff_hours %}
                        <a class="card-link" href="/models/{{ name }}/edit/stuff_tags">Загрузить</a>
                    {% else %}
                        <p class="card-text">Загрузите сначала информацию о нагрузке преподавателей.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card" style="width: 33%;">
            <div class="card-body">
                <h5 class="card-title">Матрица компетенций</h5>
                <h6 class="card-subtitle mb-2 text-muted">Соответствие компетенций дисциплинам.</h6>

                {% if tags %}
                    <p class="card-text">Всего компетенций: {{ tags }}</p>
                    <a class="btn btn-secondary" href="/models/{{ name }}/edit/tags">Редактировать</a>
                {% else %}
                    <p class="card-text">В модели отсутствует информация о компетенциях.</p>
                    <a class="card-link" href="/models/{{ name }}/edit/tags">Загрузить</a>
                {% endif %}

                {% if stuff_tags and tags %}
                    <a class="btn btn-warning" href="/models/{{ name }}/generate">По дисциплинам</a>
                {% endif %}
            </div>
        </div>
        <div class="card" style="width: 33%;">
            <div class="card-body">
                <h5 class="card-title">Матрица дисциплин</h5>
                <h6 class="card-subtitle mb-2 text-muted">Соответствие методических единиц компетенциям</h6>

                {% if method_tags %}
                    <a class="card-link" href="/models/{{ name }}/dwn/tags">Скачать таблицу</a>
                    <button class="btn btn-secondary" data-target="#modalCoursesTags" data-toggle="modal" type="button">
                        Заменить таблицу
                    </button>
                {% else %}
                    {% if tags and courses %}
                        <button class="btn btn-secondary" data-target="#modalCoursesTags" data-toggle="modal"
                                type="button">
                            Загрузить таблицу
                        </button>
                    {% else %}
                        <p class="card-text">Загрузите сначала информацию о нагрузке по дисциплинам и компетенциям
                            преподавателей.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Прошлогодняя нагрузка</h5>
                <h6 class="card-subtitle mb-2 text-muted">Соответствие методических единиц компетенциям</h6>

                {% if last_solution %}
                    <a class="card-link" href="/models/{{ name }}/dwn/last">Скачать таблицу</a>
                    <button class="btn btn-secondary" data-target="#modalLastSolution" data-toggle="modal"
                            type="button">
                        Заменить таблицу
                    </button>
                    <a class="btn btn-secondary" href="#">Использовать</a>
                {% else %}
                    {% if stuff_hours and courses %}
                        <button class="btn btn-secondary" data-target="#modalLastSolution" data-toggle="modal"
                                type="button">
                            Загрузить таблицу
                        </button>
                    {% else %}
                        <p class="card-text">Загрузите сначала информацию о нагрузке по дисциплинам и
                            преподавателям.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Итоговая матрица штрафов</h5>
                <h6 class="card-subtitle mb-2 text-muted">Главный элемент, необходимый для расчетов</h6>

                {% if method_stuff %}
                    <a class="card-link" href="/models/{{ name }}/dwn/method_stuff">Скачать таблицу</a>
                {% else %}
                    {% if stuff_hours and courses and tags and stuff_tags and method_tags %}
                        <a class="btn btn-secondary" href="#">Рассчитать</a>
                    {% else %}
                        <p class="card-text">Загрузите сначала информацию о нагрузке по дисциплинам и преподавателям,
                            а также соответствие преподавателй и дисциплин компетенциям</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modalCoursesTags" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form enctype=multipart/form-data method=post>
                    <div class="modal-header">
                        <h5 class="modal-title">Загрузка таблицы</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input name="courses" type=file>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Закрыть</button>
                        <input class="btn btn-primary" type="submit" value="Загрузить"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modalLastSolution" role="dialog"
         tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form enctype=multipart/form-data method=post>
                    <div class="modal-header">
                        <h5 class="modal-title">Загрузка таблицы</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input name="courses" type=file>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Закрыть</button>
                        <input class="btn btn-primary" type="submit" value="Загрузить"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="mb-5" style="overflow-x:auto;">
    </div>

{% endblock %}

{% block bottom_nav %}

    <div class="row text-center mb-5">
        <div class="col-sm">
            {% if tags %}
                <a class="btn btn-secondary btn-lg" href="/models/{{ name }}/find_stuff" type="submit">Опрос
                    преподавателей</a>
            {% endif %}

            {% if stuff_tags and tags %}
                <a class="btn btn-success btn-lg" href="/models/{{ name }}/find_stuff" type="submit">Подбор замен</a>
            {% endif %}

            {% if tags and courses %}
                <a class="btn btn-success btn-lg" href="/models/{{ name }}/head_hunt" type="submit">Дефицитные
                    навыки</a>
            {% endif %}

            {% if method_stuff %}
                <a href="#" class="btn btn-secondary btn-lg" type="submit">Рассчитать нагрузку</a>
            {% endif %}

            {% if solution %}
                <a href="/models/{{ name }}/results" class="btn btn-success btn-lg" type="submit">Результаты расчета</a>
            {% endif %}
        </div>
    </div>

{% endblock %}