{% extends "main.html" %}
{% block content %}
<h2>Модель расчета нагрузки</h2>

<div class="row text-center">
    <div class="row text-center">
        <div class="card" style="width: 33%;">
            <div class="card-body">
                <h5 class="card-title">Дисциплины</h5>
                <h6 class="card-subtitle mb-2 text-muted">Распределение нагрузки по методическим единицам</h6>

                {% if courses %}
                <p class="card-text">Всего дисциплин: {{num_courses}}</p>
                <p class="card-text">Суммарная нагрузка по дисциплинам: {{hours_courses}}</p>
                <a href="/models/{{name}}/edit/courses" class="btn btn-primary">Редактировать</a>
                {% else %}
                <p class="card-text">В модели отсутствует информация о нагрузке по дисциплинам. Пожалуйста, загрузите ее
                    для дальнейшего расчета.</p>
                <a href="/models/{{name}}/edit/courses" class="card-link">Загрузить</a>
                {% endif %}
            </div>
        </div>

        <div class="card" style="width: 33%;">
            <div class="card-body">
                <h5 class="card-title">Преподаватели</h5>
                <h6 class="card-subtitle mb-2 text-muted">Список преподавателей и их общая нагрузка в часах</h6>

                {% if courses %}
                <p class="card-text">Всего преподавателей: {{num_stuff}}</p>
                <p class="card-text">Суммарная нагрузка преподавателей: {{hours_stuff}}</p>
                <a href="/models/{{name}}/edit/stuff" class="btn btn-primary">Редактировать</a>
                {% else %}
                <p class="card-text">В модели отсутствует информация о нагрузке по преподавателям.
                    Пожалуйста, загрузите ее для дальнейшего расчета.</p>
                <a href="/models/{{name}}/edit/stuff" class="card-link">Загрузить</a>
                {% endif %}
            </div>
        </div>

        <div class="card" style="width: 33%;">
            <div class="card-body">
                <h5 class="card-title">Компетенции</h5>
                <h6 class="card-subtitle mb-2 text-muted">Список тегов, обозначающих компетенции.</h6>

                {% if tags %}
                <p class="card-text">Всего тегов: {{tags}}</p>
                <!--                <p class="card-text">Суммарная нагрузка преподавателей: {{hours_stuff}}</p>-->
                <a href="/models/{{name}}/edit/tags" class="btn btn-secondary">Редактировать</a>
                {% else %}
                <p class="card-text">В модели отсутствует информация о компетенциях.</p>
                <a href="/models/{{name}}/edit/tags" class="card-link">Загрузить</a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row text-center mx-auto">
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Матрица преподавателей</h5>
                <h6 class="card-subtitle mb-2 text-muted">Соответствие преподавателей компетенциям</h6>

                {% if matrix %}
                <a href="/models/{{name}}/edit/stuff_tags" class="btn btn-primary">Редактировать</a>
                {% else %}
                <p class="card-text">В модели отсутствует информация о компетенциях преподавателей.
                    Пожалуйста, загрузите ее для дальнейшего расчета.</p>
                <a href="/models/{{name}}/edit/stuff_tags" class="card-link">Загрузить</a>
                {% endif %}
            </div>
        </div>
        <div class="card" style="width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Матрица дисциплин</h5>
                <h6 class="card-subtitle mb-2 text-muted">Соответствие методических единиц компетенциям</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>

                {% if courses %}
                <a href="/models/{{name}}/dwn/tags" class="card-link">Скачать таблицу</a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCoursesTags">
                    Заменить таблицу
                </button>
                {% else %}
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCoursesTags">
                    Загрузить таблицу
                </button>
                {% endif %}
                <a href="/models/{{name}}/generate" class="card-link">По дисциплинам</a>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalCoursesTags" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method=post enctype=multipart/form-data>
                    <div class="modal-header">
                        <h5 class="modal-title">Загрузка таблицы</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input type=file name="courses">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <input type="submit" class="btn btn-primary" value="Загрузить"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div style="overflow-x:auto;" class="mb-5">
    </div>
</div>

{% endblock %}

{% block bottom_nav %}

<div class="row text-center mb-5">
    <div class="col-sm">
        <a href="#" class="btn btn-secondary btn-lg" type="submit">Подбор замен</a>
        <a href="#" class="btn btn-secondary btn-lg" type="submit">Дефицитные навыки</a>
        <a href="#" class="btn btn-secondary btn-lg" type="submit">Рассчитать нагрузку</a>
        <a href="/models/{{name}}/results" class="btn btn-success btn-lg" type="submit">Результаты расчета</a>
    </div>
</div>

{% endblock %}